@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'bootstrap';
@import 'glyphs';
@import 'global-variables';
@import 'mixins';
@import 'ng-animations';
@import 'table-sort';


body {
  overflow-x: hidden;
}

.team-stats-row {
  dt {
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin: 0 5px;
    float: left;
  }
}

#spinner {
  position: absolute;
  top: 100%;
  left: 50%;
  margin: -24px 0 0;
}

#page-header {
  padding-bottom: 20px;
  h1 {
    margin: 0;
      span {
        text-transform: capitalize;
      }
  }
}
.past-date {
  opacity: 0.5;
}