$darkGray : #58595b;
$gsaFontFamily: 'Montserrat', sans-serif;
$gsaBodyFont: arial, sans-serif;
$gsaLightBlue : #8fc7ea;
$gsaBlue : #27328b;
$gsaBeige : #b7b6b6;
$offWhite : #efeadf;
$gsaRed : #af3639;
$navItemColor : #333;
$powderBlue : #e2eef5;
$lightGray : #e5e5e5;
$footerBG: #ede9e0;



