.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  .slide {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
  }
  .ng-enter,.ng-leave {
    @include transition(all 500ms)
  }
  .ng-enter {
    left: 100%;
  }
  .ng-enter-active {
    left: 0;
  }
  .slide.ng-leave {
    //left: -200%;
  }
  .slide.ng-leave-active {
    left: -200%;
  }
}